<div class="container mt-5">

<h3>Create Shipment</h3>

<form method="POST">

<h5>Sender</h5>
<input name="sender_name" class="form-control mb-2" placeholder="Name">
<input name="sender_phone" class="form-control mb-2" placeholder="Phone">
<input name="sender_address" class="form-control mb-3" placeholder="Address">

<h5>Receiver</h5>
<input name="receiver_name" class="form-control mb-2" placeholder="Name">
<input name="receiver_phone" class="form-control mb-2" placeholder="Phone">
<input name="receiver_address" class="form-control mb-3" placeholder="Address">

<h5>Parcel</h5>
<input name="description" class="form-control mb-2" placeholder="Description">
<input name="weight" class="form-control mb-2" placeholder="Weight (kg)">
<input name="amount" class="form-control mb-3" placeholder="Amount (RM)">

<button class="btn btn-warning w-100">Create Shipment</button>

</form>

</div>
